:root {
    --background: #F9DAC6;
    --header: #E89F79;
    --text: #603F33;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text)
}

header {
    padding: 10px;
    text-align: center;
    /* background-image: url('../images/cats-paw-2.png');
    height: 250px; */
    background-color: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

header > img {
    padding-left: 5px;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    margin: 20px;
    flex: 1;
}

/* .select-div {
    text-align: center;
    margin: 30px;
} */

.dropdown-wrapper {
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
.dropdown-toggle {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    background-color: var(--header);
    color: var(--text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 240px; /* Adjust the max height as needed */
    overflow-y: auto;
    background-color: var(--header);
    color: var(--text);
    list-style: none;
    display: none;
}
  
.dropdown-menu li {
    padding: 5px;
    cursor: pointer;
}
  
.dropdown-menu li:hover {
    background-color: var(--background);
    color: var(--text);
}

.cat-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.pic-div {
    margin: auto;
}

.cat-name {
    text-align: center;
}

.facts-div {
    padding: 20px;
}

ul {
    list-style-type: none;
}

.facts-ul{
    padding: 20px;
    width: 500px;
    margin: auto;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.credits {
    font-size: x-small;
}

.hide-me {
    display: none;
}

@media (max-width: 767px) {
    .pic-div > img {
        width: 100%; /* Shrink photo to fit mobile screen */
        height: auto; /* Maintain aspect ratio */
    }

    .facts-ul {
        width: 90%; /* Shrink photo to fit mobile screen */
        height: auto; /* Maintain aspect ratio */
    }
  }